@model DigitalArt.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<div>
    <a asp-action="Index" class="neon-button neon-button__1">Regrsar a Listar</a>
</div>
<br/>
<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@*función para crear un registro*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreUsuarios" class="control-label"></label>
                <input asp-for="NombreUsuarios" class="form-control" />
                <span asp-validation-for="NombreUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionUsuarios" class="control-label"></label>
                <input asp-for="DireccionUsuarios" class="form-control" />
                <span asp-validation-for="DireccionUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoUsuarios" class="control-label"></label>
                <input asp-for="TelefonoUsuarios" class="form-control" />
                <span asp-validation-for="TelefonoUsuarios" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
@*botón para crear un registro*@
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <br />
            <br />
            <br />
        </form>
    </div>
</div>
<br />
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
