@model DigitalArt.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuarios" />
            <div class="form-group">
                <label asp-for="NombreUsuarios" class="control-label"></label>
                <input asp-for="NombreUsuarios" class="form-control" />
                <span asp-validation-for="NombreUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionUsuarios" class="control-label"></label>
                <input asp-for="DireccionUsuarios" class="form-control" />
                <span asp-validation-for="DireccionUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoUsuarios" class="control-label"></label>
                <input asp-for="TelefonoUsuarios" class="form-control" />
                <span asp-validation-for="TelefonoUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn  btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a listar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
