@model DigitalArt.Models.Arte

@{
    ViewData["Title"] = "Create";
}
<div>
    <a asp-action="Index" class="neon-button neon-button__1">Regrsar a Listar</a>
</div>
<br/>
<h1>Create</h1>

<h4>Arte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreArte" class="control-label"></label>
                <input asp-for="NombreArte" class="form-control" />
                <span asp-validation-for="NombreArte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionArte" class="control-label"></label>
                <input asp-for="DescripcionArte" class="form-control" />
                <span asp-validation-for="DescripcionArte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkArte" class="control-label"></label>
                <input asp-for="LinkArte" class="form-control" />
                <span asp-validation-for="LinkArte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <br />
            <br />
            <br />
        </form>
    </div>
</div>
<br />
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
